{% extends "base.html" %}
{% load open_tags %}
{% block content %}
<ul class="breadcrumb breadsearch">
<li><a href="/">主页</a><span class="divider">&raquo;</span></li>
<li class="active">{{brandinfo.name}}</li>
</ul>
<div class="row">
<div class="span9">
<h1>{{brandinfo.name}}</h1>
<h6>选择您要查询的{{brandinfo.name}}具体型号.</h6>
</div>
<div class="span3">
<div class="alice">
<!--<a href="/me/login/" id="follow-btn" class="follow-btn">
<i class="icon-plus-sign icon-white"></i>Add to Watchlist</a>-->
</div>
</div>
</div>
<hr>
<br>
<table class="table" width="640" style="table-layout:fixed">
     <colgroup>
          <col width="160">
          <col width="160">
          <col width="160">
          <col width="160">
     </colgroup>
     <tbody>
     {% for model_row in modeltypes %}
            <tr>
            {% for item in model_row %}
                <td>
                    <a href="/cars/{{ item.parent}}/{{ item.slug }}/">
                        {{item.name}}
                    </a>
                </td>
            {% endfor %}
            </tr>
     {% endfor %}
     </tbody>
</table>
<br>
{% endblock %}