{% extends "base.html" %}
{% block title %}平价网，最权威公平的价格指南{% endblock %}
{% block meta_description %}平价网，最权威公平的价格指南{% endblock %}
{% block css %}<link href="/static/css/index.css" rel="stylesheet">{% endblock %}
{% block content %}
	<div class="row-fluid">      
		<div class="span12">
			<div class="leaderboard" style="background-image:none;">
				<div class="span2">
				</div>
				<div>
				    <img src="/static/img/front.png"></img>
				</div>
				<div class="row">
					<div class="span2">
					</div>
					<div class="span9" style="position:relative;">
						<form class="form-search row-fluid" action="/search" accept-charset="utf-8">
							<div class="span9">
							     <input id="search" name="kw" type="text" class="span12 input-medium search-query" autocomplete="off" >
							</div>
							<div class="span3">
							     <button type="submit" class="btn search-btn" >平价一下</button>
							</div>
						</form>
						<div class="relative-search span9" style="display:none;" >
							<ul class="relative-ul">
							</ul>
						</div>          
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

$(document).ready(function() {
	  $("#search").focus();
	  $("body").click(function(){
		  $(".relative-search").hide();
	  })
	  
	  $(".relative-list").live("click",function(){
		 var value=$("a",$(this)).html();
		 $("#search").val(value);
		 /*$("#search").parent().parent().submit();*/
	  })
	  
	  $("#search").bind("keyup",function(){
		  $(".relative-search").hide();
		  var kw=$("#search").val();
		  kw=trim(kw);
		  if(kw=='')
			   return;
		  var query={};
		  query["kw"]=kw;
		  $.ajax({
				url: "/ajax_match/",
				type: "POST",
				data: query,
				dataType: "json",
				success: function(result){
					var length=result.values.length;
					if(length==0)
						return;
					if($(".relative-list").length)
						$(".relative-ul").html("");  
					for (i=0;i<length;i++){
						$(".relative-ul").append('<li class="relative-list"><a href="'+result.values[i].url+'">'+result.values[i].name+'</a></li>');
						}
					$(".relative-search").show();
					} 
			});
	  });

})
</script>
{% endblock %}

