.breadsearch
{
margin-top:30px;
}
.big_price
{
font-family:Arial, Helvetica, sans-serif;
font-size:70px;
display:inline-block;
margin-bottom:50px;
margin-top:50px;
}
.price_range
{
font-size:40px;
margin-bottom:50px;
margin-top:30px;
display:inline-block;
}
.chart {
    background-color: #FBFBFB;
}
/* @group SVG */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

line.axis {
    stroke: black;
    stroke-width: 1;
}

.yLabel {
    font-size: 8.0pt;
}

rect {
    fill: steelblue;
}

text.barLabel {
    fill: #fff;
}

text.value {
    font-size: 8.0pt;
}
#selProvince{width:140px;}
#selCity{width:140px;}
.btn-confirm{margin-top:-10px !important}
.ac-strong{margin-top:5px !important}
.ac-input{width:200px;}
.table-striped{float:left;}
.relative-city {width:205px;position:absolute;top:28px;left:33px;border:1px solid rgb(127,129,130);background-color:white;}
.relative-city-ul {margin:0;}
.relative-city-list {height:20px;font-size:12px;cursor:pointer;}
.relative-city-list:hover{background-color:rgb(0,85,204);}
.relative-city-list a{color:rgb(0,0,0);padding-left:4px;line-height:20px;float:left;width:99%;}
.relative-city-list a:hover{text-decoration:none;}